<b> Kategoria: <%= @category.name %> </b>
<table>
  <% @products.each do |p| %>
    <tr>
      <td><% link_to "#{p.name}", p %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to 'Powrót', :back %></p>
<p><%= link_to 'Strona główna', :root %></p>