<b><%= @category.name %></b>
<table>
  <% @products.each do |product| %>
      <tr>
        <td><%= link_to "#{product.name}", product %></td>
      </tr>
  <% end %>
</table>

<p><%= link_to 'Powrot', :back %></p>
<p><%= link_to 'Strona glowna', :root %></p>